---
import { SITE } from 'MedSyntra:config';
---

<span
  class="flex items-center self-center ml-4 rtl:ml-0 rtl:mr-2 whitespace-nowrap"
  aria-label={SITE?.name}
>
  <img
    src="/images/medsyntralogo.png"
    alt="MedSyntra"
    class="h-10 md:h-9 w-auto"
  />
</span>
